page {
	 border: 1px solid orange;

}

table {
    background-color: rebeccapurple;
}

h1 {
    color: orange;
    text-align: center;
    
    font-family: "Times New Roman";
    font-size: 30px;
}

td {
    background-color:rebeccapurple;
    
    font-family: "Times New Roman";
    font-size: 25px;
    text-align: left
}

a {
    color: whitesmoke;
    font-family: "Arial";
    font-size: 20px;
    
}